/* @font-face {
  font-family: 'NotoSansJpRegular';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJpBold';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Bold.otf');
}

@font-face {
  font-family: 'NotoSansJpDemiLight';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-DemiLight.otf');
}

@font-face {
  font-family: 'NotoSansJpMedium';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Medium.otf');
}

@font-face {
  font-family: 'NotoSansJpThin';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Thin.otf');
}
@font-face {
  font-family: 'icomoon';
  src: url('./icomoon/icomoon.eot?xikreh');
  src: url('./icomoon/icomoon.eot?xikreh#iefix') format('embedded-opentype'),
    url('./icomoon/icomoon.ttf?xikreh') format('truetype'),
    url('./icomoon/icomoon.woff?xikreh') format('woff'),
    url('./icomoon/icomoon.svg?xikreh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */
