@font-face {
  font-family: 'NotoSansJpRegular';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJpBold';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Bold.otf');
}

@font-face {
  font-family: 'NotoSansJpDemiLight';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-DemiLight.otf');
}

@font-face {
  font-family: 'NotoSansJpMedium';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Medium.otf');
}

@font-face {
  font-family: 'NotoSansJpThin';
  src: url('./NotoSansCJKjp/NotoSansCJKjp-Thin.otf');
}
@font-face {
  font-family: 'icomoon';
  src: url('./icomoon/icomoon.eot?xikreh');
  src: url('./icomoon/icomoon.eot?xikreh#iefix') format('embedded-opentype'),
    url('./icomoon/icomoon.ttf?xikreh') format('truetype'),
    url('./icomoon/icomoon.woff?xikreh') format('woff'),
    url('./icomoon/icomoon.svg?xikreh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ap_systemicon_line_210322_icn_video_data_line:before {
  content: '\e900';
}
.icon-ap_access_point_line:before {
  content: '\e901';
}
.icon-ap_add_line:before {
  content: '\e902';
}
.icon-ap_remove_line:before {
  content: '\e91a';
}
.icon-ap_download_line:before {
  content: '\e91d';
}
.icon-ap_documents_line:before {
  content: '\e91b';
}
.icon-ap_arrow_down_line:before {
  content: '\e903';
}
.icon-ap_arrow_left_line:before {
  content: '\e904';
}
.icon-ap_arrow_right_line:before {
  content: '\e905';
}
.icon-ap_arrow_up_line:before {
  content: '\e906';
}
.icon-ap_attach_line:before {
  content: '\e907';
}
.icon-ap_baggage_line:before {
  content: '\e908';
}
.icon-ap_ban_line:before {
  content: '\e909';
}
.icon-ap_bar_graph_line:before {
  content: '\e90a';
}
.icon-ap_base_station_line:before {
  content: '\e90b';
}
.icon-ap_brightness_line:before {
  content: '\e90c';
}
.icon-ap_calendar_line:before {
  content: '\e90d';
}
.icon-ap_camera_line:before {
  content: '\e90e';
}
.icon-ap_car_front_line:before {
  content: '\e90f';
}
.icon-ap_car_side_line:before {
  content: '\e910';
}
.icon-ap_caution_line:before {
  content: '\e911';
}
.icon-ap_chart_line:before {
  content: '\e912';
}
.icon-ap_check_line:before {
  content: '\e913';
}
.icon-ap_checklist_line:before {
  content: '\e914';
}
.icon-ap_city_line:before {
  content: '\e915';
}
.icon-ap_clock_line:before {
  content: '\e916';
}
.icon-ap_close_line:before {
  content: '\e917';
}
.icon-ap_cloud_line:before {
  content: '\e918';
}
.icon-ap_dashboard_line:before {
  content: '\e919';
}
.icon-ap_documents_line:before {
  content: '\e91b';
}
.icon-ap_done_line:before {
  content: '\e91c';
}
.icon-ap_download_line:before {
  content: '\e91d';
}
.icon-ap_edit_line:before {
  content: '\e91e';
}
.icon-ap_face_id_line:before {
  content: '\e91f';
}
.icon-ap_favorite_line:before {
  content: '\e920';
}
.icon-ap_ff_line:before {
  content: '\e921';
}
.icon-ap_filter_line:before {
  content: '\e922';
}
.icon-ap_fingerprint_id_line:before {
  content: '\e923';
}
.icon-ap_folder_line:before {
  content: '\e924';
}
.icon-ap_fr_line:before {
  content: '\e925';
}
.icon-ap_grid_line:before {
  content: '\e926';
}
.icon-ap_group_line:before {
  content: '\e927';
}
.icon-ap_headphones_line:before {
  content: '\e928';
}
.icon-ap_headset_line:before {
  content: '\e929';
}
.icon-ap_help_line:before {
  content: '\e92a';
}
.icon-ap_history_line:before {
  content: '\e92b';
}
.icon-ap_home_line:before {
  content: '\e92c';
}
.icon-ap_info_line:before {
  content: '\e92d';
}
.icon-ap_keyboard_line:before {
  content: '\e92e';
}
.icon-ap_language_line:before {
  content: '\e92f';
}
.icon-ap_layer_line:before {
  content: '\e930';
}
.icon-ap_like_line:before {
  content: '\e931';
}
.icon-ap_line_graph_line:before {
  content: '\e932';
}
.icon-ap_list_line:before {
  content: '\e933';
}
.icon-ap_lock_line:before {
  content: '\e934';
}
.icon-ap_lock_open_line:before {
  content: '\e935';
}
.icon-ap_login_line:before {
  content: '\e936';
}
.icon-ap_logout_line:before {
  content: '\e937';
}
.icon-ap_mail_line:before {
  content: '\e938';
}
.icon-ap_menu_line:before {
  content: '\e939';
}
.icon-ap_message_line:before {
  content: '\e93a';
}
.icon-ap_mic_line:before {
  content: '\e93b';
}
.icon-ap_more_line:before {
  content: '\e93c';
}
.icon-ap_night_mode_line:before {
  content: '\e93d';
}
.icon-ap_notepc_line:before {
  content: '\e93e';
}
.icon-ap_notification_line:before {
  content: '\e93f';
}
.icon-ap_office_line:before {
  content: '\e940';
}
.icon-ap_pause_ff_line:before {
  content: '\e941';
}
.icon-ap_pause_fr_line:before {
  content: '\e942';
}
.icon-ap_pause_line:before {
  content: '\e943';
}
.icon-ap_pc_line:before {
  content: '\e944';
}
.icon-ap_phone_line:before {
  content: '\e945';
}
.icon-ap_photo_line:before {
  content: '\e946';
}
.icon-ap_pie_chart_line:before {
  content: '\e947';
}
.icon-ap_pin_line:before {
  content: '\e948';
}
.icon-ap_plane_line:before {
  content: '\e949';
}
.icon-ap_plane_side_line:before {
  content: '\e94a';
}
.icon-ap_play_line:before {
  content: '\e94b';
}
.icon-ap_power_line:before {
  content: '\e94c';
}
.icon-ap_printer_line:before {
  content: '\e94d';
}
.icon-ap_qr_code_line:before {
  content: '\e94e';
}
.icon-ap_rating_line:before {
  content: '\e94f';
}
.icon-ap_rec_line:before {
  content: '\e950';
}
.icon-ap_reduce_line:before {
  content: '\e951';
}
.icon-ap_reload_line:before {
  content: '\e952';
}
.icon-ap_reset_line:before {
  content: '\e953';
}
.icon-ap_return_line:before {
  content: '\e954';
}
.icon-ap_save_line:before {
  content: '\e955';
}
.icon-ap_search_line:before {
  content: '\e956';
}
.icon-ap_security_camera_line:before {
  content: '\e957';
}
.icon-ap_security_line:before {
  content: '\e958';
}
.icon-ap_send_line:before {
  content: '\e959';
}
.icon-ap_setting_line:before {
  content: '\e95a';
}
.icon-ap_share_and_line:before {
  content: '\e95b';
}
.icon-ap_share_ios_line:before {
  content: '\e95c';
}
.icon-ap_share_win_line:before {
  content: '\e95d';
}
.icon-ap_shopping_line:before {
  content: '\e95e';
}
.icon-ap_skip_ff_line:before {
  content: '\e95f';
}
.icon-ap_skip_fr_line:before {
  content: '\e960';
}
.icon-ap_smartphone_line:before {
  content: '\e961';
}
.icon-ap_sort_line:before {
  content: '\e962';
}
.icon-ap_sound_line:before {
  content: '\e963';
}
.icon-ap_sound_mute_line:before {
  content: '\e964';
}
.icon-ap_stop_line:before {
  content: '\e965';
}
.icon-ap_store_line:before {
  content: '\e966';
}
.icon-ap_sync_line:before {
  content: '\e967';
}
.icon-ap_tablet_line:before {
  content: '\e968';
}
.icon-ap_touch_line:before {
  content: '\e969';
}
.icon-ap_train_front_line:before {
  content: '\e96a';
}
.icon-ap_train_side_line:before {
  content: '\e96b';
}
.icon-ap_truck_line:before {
  content: '\e96c';
}
.icon-ap_tune_line:before {
  content: '\e96d';
}
.icon-ap_tv_line:before {
  content: '\e96e';
}
.icon-ap_upload_line:before {
  content: '\e96f';
}
.icon-ap_user_line:before {
  content: '\e970';
}
.icon-ap_video_line:before {
  content: '\e971';
}
.icon-ap_visibility_line:before {
  content: '\e972';
}
.icon-ap_visibility_off_line:before {
  content: '\e973';
}
.icon-ap_walk_line:before {
  content: '\e974';
}
.icon-ap_warning_line:before {
  content: '\e975';
}
.icon-ap_widget_line:before {
  content: '\e976';
}
.icon-ap_wifi_line:before {
  content: '\e977';
}
.icon-ap_zoom_in_line:before {
  content: '\e978';
}
.icon-ap_zoom_out_line:before {
  content: '\e979';
}
.icon-ap_origin_down:before {
  content: '\e97a';
}
.icon-ap_origin_left:before {
  content: '\e97b';
}
.icon-ap_origin_more:before {
  content: '\e97c';
}
.icon-ap_origin_pulldown:before {
  content: '\e97d';
}
.icon-ap_origin_right:before {
  content: '\e97e';
}
.icon-ap_origin_up:before {
  content: '\e97f';
}
.icon-ap_systemicon_line:before {
  content: '\e980';
}
